*{
	padding:0;
	margin:0;
	
}
body{
	background-color:black;
}
.container{
	width:100%;
	background-color:#000;
	
}
.row{
	display:flex;
}
.head{
	padding:35px;
}
.head h3{
	color:brown;
}
.head h1{
	font-size:38px;
	margin-top:30px;
	color:white;
}
.head p{
	font-size:20px;
	margin-top:30px;
	line-height:1.5;
	color:gray;
	
}
.head-1{
	padding:20px;
	background-color:#bf8c69;
	margin-top:40px;
	display:flex;
	border-radius:10px;
}
.img-2 img{
	
}
.content p{
	font-size:25px;
	color:#fff;
	margin-left:20px;
	margin-top:10px;
}
.img-sec{
	padding:15px;
}